@media only screen and (max-width: 400px) {
    .projects-container {
        flex-direction: column;
    }
    .project {
        flex-direction: column;
    }
}

@media only screen and (max-width:800px) {
    .jumbotron {
        flex-direction: column;
    }
    #self-image {
        width: 250px;
        margin: auto;
    }
}

.nav-item {
    font-weight: bold;
    letter-spacing: 3px;
}

.row {
    width: 75%;
    left: 20%;
    margin: auto;
}

.p {
    display: none;
}

.project-info {
    display: none;
}

.card-title {
    background-color: rgba(0, 0, 0, .8);
    color: seashell;
    text-align: center;
    font-size: 4vw;
    font-family: 'Open Sans', sans-serif;
}

.card-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5vw;
}

.project-info {
    padding-top: 50px;
    display: none;
}

.carousel-item {
    position: relative;
    z-index: 1;
}

.caption {
    position: absolute;
    top: 25%;
    z-index: 5;
    left: 25%;
    width: 50vw;
    font-size: 5vw;
    background-color: rgba(0, 0, 0, .4);
    font-family: 'Open Sans', sans-serif;
    font-variant: small-caps;
    font-weight: bolder;
    color: seashell;
}

.project-caption {
    left: 25%;
    background-color: rgba(0, 0, 0, .8);
    color: seashell;
}